* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: aquamarine;
    background-image: url(image3.jpg);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.intro-section {
    background-color: #f2f2f2;
    text-align: center;
    padding: 100px 0;
}

.intro-section img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    background-color: #555;
}

.about-section,
.skills-section,
.contact-section,
.education-section {
    padding: 80px 0;
    text-align: center;
    background-color: #fff;
}

#login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
}

.form-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-container button[type="submit"] {
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-container button[type="submit"]:hover {
    background-color: #0056b3;
}


#signup {
    display: none; 
    text-align: center;
}

#signup.show {
    display: block; 
}

#login.show {
    display: block; 
}

#login.hidden,
#signup.hidden {
    display: none;
}
